<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="error-container">
        {% for message in get_flashed_messages() %}
            <strong>Error: </strong> {{message}}
        {% endfor %}
    </div>
    <div class="promptcontainer">
        <form action="/watchlist" method="POST">
            <p>Enter letterboxd usernames:</p>
            {% for i in num %}
                <p><input type="username" name="username{{i}}" placeholder="Username"></p>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
