<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number of Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
<div class="promptcontainer">
    <form action="/enter_users" method="POST">
        <p>Select the number of users whose films you would like to compare:</p>
          <SELECT name="num_users">
            {% for num in options %}
                {% if num == 2: %}
                    <OPTION value='{{num}}' selected>{{num}}</option>
                {% else: %}
                    <OPTION value='{{num}}'>{{num}}</option>
                {% endif %}
            {% endfor %}
          </SELECT>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
